.app-content{
  display: flex;
}
.contentPanel-container{
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid rgb(55 51 51);
  max-height: 80%;
  background-color: #1f1c1c;
  border-radius: 10px;
}
.generated-content{
  max-width: 70%;
  border-radius: 4%;
}

.contentPanel-container > :nth-child(1){
  flex: 0 0 90%;
}

.contentPanel-container > :nth-child(2){
  /* position: relative;
  top: 80%; */
  display: flex;
  flex: 0 0 10%;
}

.fallback-text{
  color: white;
  position: relative;
  top: 40%;
  left: 10%;
  font-weight: 600;
  font-size: 1.5rem;
  color: #bc9494;
}

.downloader{
font-weight: 300;
font-size: 1rem;
color: #bc9494;
display: flex;
gap: 40%;
}

.downloader span {
  margin-left: 2%;
}
.downloader span:hover{
  cursor: pointer;
  color: #595050;
}

.navigator-button{
  width: fit-content;
  margin-top:3%; 
  margin-bottom:2%;
  font-size: 0.8rem !important;
}

.contentPanel-container form input{
  background-color: transparent;
  border: 1px solid rgb(96, 93, 93);
  border-radius: 20px 0 0 20px;
  color: white;
  outline: none;
}

.contentPanel-container form button{
  background-color: #453c3c;
  border-radius: 0 5px 5px 0;
  border: 1px solid rgb(96, 93, 93);
  border-left: none;
  height: 85%;
  color: #bc9494;
  width: fit-content;
  font-size: 1.3rem;
  padding-bottom: 2%;
}

.contentPanel-container form button:hover{
background-color: transparent;
}

.scrollable-container{
  height:90%;
  overflow-y:auto
}

/* Text generator */
.generated-text{
overflow-y: auto;
overflow-x: hidden;
height: 100%;
margin: 2%; 
display:flex;
flex-direction:column;
justify-content:space-between 
}

.response-section{
  display: flex;
  flex-direction: column;
}

.elipse-text{
  white-space: nowrap;
  overflow: hidden;     
  text-overflow: ellipsis;    
  width: 80%; 
}

.save-queries{
  height: fit-content;
  margin-top: 4%;
}

.hide{
  display: none;
}

.spotlight-card{
  margin-bottom: 2%;
}

.toast-message{
    width: 50%;
    height: 7%;
    position: absolute;
    top:0%;
    left: 25%;
    text-align: center;
    padding: 2px;
    opacity: 0.6;
}

.toast-message.hide{
  opacity: 0;
}

/* buttons */
.shiny-button{
  background-color:transparent;
  border:1px solid grey;
  border-radius: 10px
}

.back-button{
  margin-top: 0%;
  margin-bottom: 1%;
}
