.app-content{
  display: flex;
}
.imageGenerator-form{
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 80%;
  border: 2px solid rgb(55 51 51);
  height: 60%;
  background-color: #1f1c1c;
  border-radius: 10px;
}
.generated-content{
  max-width: 70%;
  border-radius: 4%;
}

.image-container{
  flex: 0 0 90%;
}

.imageGenerator-form form{
  /* position: relative;
  top: 80%; */
  display: flex;
  flex: 0 0 10%;
}

.fallback-text{
  color: white;
  position: relative;
  top: 40%;
  left: 10%;
  font-weight: 600;
  font-size: 1.5rem;
  color: #bc9494;
}

.imageGenerator-form form input{
  background-color: transparent;
  border: 1px solid rgb(96, 93, 93);
  border-radius: 20px 0 0 20px;
  color: white;
}

.imageGenerator-form form button{
  background-color: #453c3c;
  border-radius: 0 5px 5px 0;
  border: 1px solid rgb(96, 93, 93);
  border-left: none;
  height: 5.7vh;
  color: #bc9494;
  width: fit-content;
  font-size: 1.3rem;
  padding-bottom: 2%;
}

.imageGenerator-form form button:hover{
background-color: transparent;
}